<form method="post" action="{{ path('app_timezone_delete', {'id': timezone.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ timezone.id) }}">
    <button class="btn">Delete</button>
</form>
