{% extends 'base.html.twig' %}

{% block title %}Timezone index{% endblock %}

{% block body %}
    <h1>Timezone index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for timezone in timezones %}
            <tr>
                <td>{{ timezone.id }}</td>
                <td>{{ timezone.name }}</td>
                <td>
                    <a href="{{ path('app_timezone_show', {'id': timezone.id}) }}">show</a>
                    <a href="{{ path('app_timezone_edit', {'id': timezone.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_timezone_new') }}">Create new</a>
{% endblock %}
