{% extends 'base.html.twig' %}

{% block title %}New Timezone{% endblock %}

{% block body %}
    <h1>Create new Timezone</h1>

    {{ include('timezone/_form.html.twig') }}

    <a href="{{ path('app_timezone_index') }}">back to list</a>
{% endblock %}
