{% extends 'base.html.twig' %}

{% block title %}Timezone{% endblock %}

{% block body %}
    <h1>Timezone</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ timezone.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ timezone.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_timezone_index') }}">back to list</a>

    <a href="{{ path('app_timezone_edit', {'id': timezone.id}) }}">edit</a>

    {{ include('timezone/_delete_form.html.twig') }}
{% endblock %}
