{% extends 'base.html.twig' %}

{% block title %}Informations index{% endblock %}

{% block body %}
    <h1>Informations index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Url</th>
                <th>Text</th>
                <th>Image</th>
                <th>Phone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for information in informations %}
            <tr>
                <td>{{ information.id }}</td>
                <td>{{ information.name }}</td>
                <td>{{ information.url }}</td>
                <td>{{ information.text }}</td>
                <td>{{ information.image }}</td>
                <td>{{ information.phone }}</td>
                <td>
                    <a href="{{ path('app_informations_show', {'id': information.id}) }}">show</a>
                    <a href="{{ path('app_informations_edit', {'id': information.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_informations_new') }}">Create new</a>
{% endblock %}
