{% extends 'base.html.twig' %}

{% block title %}Languages index{% endblock %}

{% block body %}
    <h1>Languages index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for language in languages %}
            <tr>
                <td>{{ language.id }}</td>
                <td>{{ language.name }}</td>
                <td>
                    <a href="{{ path('app_languages_show', {'id': language.id}) }}">show</a>
                    <a href="{{ path('app_languages_edit', {'id': language.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_languages_new') }}">Create new</a>
{% endblock %}
