{% extends 'base.html.twig' %}

{% block title %}Languages{% endblock %}

{% block body %}
    <h1>Languages</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ language.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ language.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_languages_index') }}">back to list</a>

    <a href="{{ path('app_languages_edit', {'id': language.id}) }}">edit</a>

    {{ include('languages/_delete_form.html.twig') }}
{% endblock %}
