{% extends 'base.html.twig' %}

{% block title %}Alarm index{% endblock %}

{% block body %}
    <h1>Alarm index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Recurrence</th>
                <th>AlarmTime</th>
                <th>AlarmDay</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alarm in alarms %}
            <tr>
                <td>{{ alarm.id }}</td>
                <td>{{ alarm.name }}</td>
                <td>{{ alarm.recurrence }}</td>
                <td>{{ alarm.alarmTime ? alarm.alarmTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ alarm.alarmDay ? alarm.alarmDay|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_alarm_show', {'id': alarm.id}) }}">show</a>
                    <a href="{{ path('app_alarm_edit', {'id': alarm.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_alarm_new') }}">Create new</a>
{% endblock %}
