{% extends 'base.html.twig' %}

{% block title %}Alarm{% endblock %}

{% block body %}
    <h1>Alarm</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ alarm.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ alarm.name }}</td>
            </tr>
            <tr>
                <th>Recurrence</th>
                <td>{{ alarm.recurrence }}</td>
            </tr>
            <tr>
                <th>AlarmTime</th>
                <td>{{ alarm.alarmTime ? alarm.alarmTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>AlarmDay</th>
                <td>{{ alarm.alarmDay ? alarm.alarmDay|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_alarm_index') }}">back to list</a>

    <a href="{{ path('app_alarm_edit', {'id': alarm.id}) }}">edit</a>

    {{ include('alarm/_delete_form.html.twig') }}
{% endblock %}
