<form method="post" action="{{ path('app_useridentity_delete', {'id': useridentity.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ useridentity.id) }}">
    <button class="btn">Delete</button>
</form>
