{% extends 'base.html.twig' %}

{% block title %}Edit Useridentity{% endblock %}

{% block body %}
    <h1>Edit Useridentity</h1>

    {{ include('useridentity/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_useridentity_index') }}">back to list</a>

    {{ include('useridentity/_delete_form.html.twig') }}
{% endblock %}
