{% extends 'base.html.twig' %}

{% block title %}Useridentity index{% endblock %}

{% block body %}
    <h1>Useridentity index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Portrait</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for useridentity in useridentities %}
            <tr>
                <td>{{ useridentity.id }}</td>
                <td>{{ useridentity.name }}</td>
                <td>{{ useridentity.surname }}</td>
                <td>{{ useridentity.portrait }}</td>
                <td>
                    <a href="{{ path('app_useridentity_show', {'id': useridentity.id}) }}">show</a>
                    <a href="{{ path('app_useridentity_edit', {'id': useridentity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_useridentity_new') }}">Create new</a>
{% endblock %}
