{% extends 'base.html.twig' %}

{% block title %}New Useridentity{% endblock %}

{% block body %}
    <h1>Create new Useridentity</h1>

    {{ include('useridentity/_form.html.twig') }}

    <a href="{{ path('app_useridentity_index') }}">back to list</a>
{% endblock %}
