{% extends 'base.html.twig' %}

{% block title %}Useridentity{% endblock %}

{% block body %}
    <h1>Useridentity</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ useridentity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ useridentity.name }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ useridentity.surname }}</td>
            </tr>
            <tr>
                <th>Portrait</th>
                <td>{{ useridentity.portrait }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_useridentity_index') }}">back to list</a>

    <a href="{{ path('app_useridentity_edit', {'id': useridentity.id}) }}">edit</a>

    {{ include('useridentity/_delete_form.html.twig') }}
{% endblock %}
