<form method="post" action="{{ path('app_categorytask_delete', {'id': categorytask.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorytask.id) }}">
    <button class="btn">Delete</button>
</form>
