{% extends 'base.html.twig' %}

{% block title %}Edit Categorytask{% endblock %}

{% block body %}
    <h1>Edit Categorytask</h1>

    {{ include('categorytask/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categorytask_index') }}">back to list</a>

    {{ include('categorytask/_delete_form.html.twig') }}
{% endblock %}
