{% extends 'base.html.twig' %}

{% block title %}Categorytask index{% endblock %}

{% block body %}
    <h1>Categorytask index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorytask in categorytasks %}
            <tr>
                <td>{{ categorytask.id }}</td>
                <td>{{ categorytask.name }}</td>
                <td>
                    <a href="{{ path('app_categorytask_show', {'id': categorytask.id}) }}">show</a>
                    <a href="{{ path('app_categorytask_edit', {'id': categorytask.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorytask_new') }}">Create new</a>
{% endblock %}
