{% extends 'base.html.twig' %}

{% block title %}New Categorytask{% endblock %}

{% block body %}
    <h1>Create new Categorytask</h1>

    {{ include('categorytask/_form.html.twig') }}

    <a href="{{ path('app_categorytask_index') }}">back to list</a>
{% endblock %}
