{% extends 'base.html.twig' %}

{% block title %}Categorytask{% endblock %}

{% block body %}
    <h1>Categorytask</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorytask.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ categorytask.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categorytask_index') }}">back to list</a>

    <a href="{{ path('app_categorytask_edit', {'id': categorytask.id}) }}">edit</a>

    {{ include('categorytask/_delete_form.html.twig') }}
{% endblock %}
