<form method="post" action="{{ path('app_categoryevent_delete', {'id': categoryevent.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categoryevent.id) }}">
    <button class="btn">Delete</button>
</form>
