{% extends 'base.html.twig' %}

{% block title %}Edit Categoryevent{% endblock %}

{% block body %}
    <h1>Edit Categoryevent</h1>

    {{ include('categoryevent/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categoryevent_index') }}">back to list</a>

    {{ include('categoryevent/_delete_form.html.twig') }}
{% endblock %}
