{% extends 'base.html.twig' %}

{% block title %}Categoryevent index{% endblock %}

{% block body %}
    <h1>Categoryevent index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categoryevent in categoryevents %}
            <tr>
                <td>{{ categoryevent.id }}</td>
                <td>{{ categoryevent.name }}</td>
                <td>
                    <a href="{{ path('app_categoryevent_show', {'id': categoryevent.id}) }}">show</a>
                    <a href="{{ path('app_categoryevent_edit', {'id': categoryevent.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categoryevent_new') }}">Create new</a>
{% endblock %}
