{% extends 'base.html.twig' %}

{% block title %}New Categoryevent{% endblock %}

{% block body %}
    <h1>Create new Categoryevent</h1>

    {{ include('categoryevent/_form.html.twig') }}

    <a href="{{ path('app_categoryevent_index') }}">back to list</a>
{% endblock %}
