{% extends 'base.html.twig' %}

{% block title %}Categoryevent{% endblock %}

{% block body %}
    <h1>Categoryevent</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categoryevent.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ categoryevent.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categoryevent_index') }}">back to list</a>

    <a href="{{ path('app_categoryevent_edit', {'id': categoryevent.id}) }}">edit</a>

    {{ include('categoryevent/_delete_form.html.twig') }}
{% endblock %}
